table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}

td {

    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.body{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.buttons{
    display: flex;
    justify-content: center;
}
#draw,#eraser,#clear{
    height: 50px;
    width: 100px;
}
button.active {
    background-color: darkblue;
    color: white;
}
